/Database/dump
/Database/migracao/node_modules
/Database/migracao/teste_mongoose.js
/Database/migracao/.env
/Database/mongodb-secrets.yaml
/Database/mongodb-loadbalancer.yaml
/Database/important_commands.txt
/AeroNoSQL-backend/node_modules
/AeroNoSQL-backend/build
/AeroNoSQL-backend/.env
/AeroNoSQL-backend/globalConfig.json
/AeroNoSQL-backend/aero-no-sql-dev-firebase-service-account-key.json
/AeroNoSQL-backend/aerodb-backend-secret.yaml
/AeroNoSQL-backend/package-lock.json
.vscode/launch.json
